{
  "mode": "testops", 
  "fallback": "report",
  "debug": true,
  "testops": {
    "project": "YODAPP",
    "api": {
      "token": "Y3d18dbb99642913cbd71110f5a9c0caa2a04e621ea02a6393bf9340b681faa91",
      "host": "qase.io"
    },
    "run": {
      "title": "Test run title"
    },
    "batch": {
      "size": 100
    }
  },
    "report": {
    "driver": "local",
    "connection": {
      "local": {
        "path": "./build/qase-report",
        "format": "json" 
      }
    }
  },
  "environment": "local"
}





